<a href="https://colab.research.google.com/github/Gayathri-Aravalli/first/blob/master/5_July_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Markdown Basics
##Markdown Basics
###Markdown Basics
####Markdown Basics



*   **point1** (bold)
*   *point2* (italic)
*   ***point3*** (bold and italic)



*   Noramal text
    * Sublist 1
    * sublist 2
    
    > 1. point1
    > 2. point2
    

***Adding links to markdown***

  * Google site --- [1.] : https://www.google.com 
  * ask -- [2.] : https://www.ask.com

In [1]:
print("Hello, Gitam")
print("Hyderabad")

Hello, Gitam
Hyderabad

In [2]:
print("Hello, Gitam", " ||| ", end = " ")
print("Hyderabad",end=" ||| ")
print("Python programming")

Hello, Gitam  |||  Hyderabad ||| Python programming

In [5]:
n1 = 100  # single variable assignment
a = b = c = 20  # multi variable assignment
a1,b1,c1 = 111,222,333  # multi variable assignment with different values
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

### Data types and conversions

*   int
*   float
*   string

In [9]:
a = 100
s1 = "python"
s2 = 'P'
f1 = 10.2
print(a)
print(s1)
print(s2,f1)
print(type(a))
print(type(s1))
print(type(s2))
print(type(f1))
print(type(a), type(s1), type(f1))

100
python
P 10.2
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'int'> <class 'str'> <class 'float'>

In [10]:
i = 100
print(type(i))
s1 = str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [13]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(a))
f = 1.5
a1 = int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [14]:
# a number is given 1234 - 
# digit count
a1 = 1234
print(len(str(a1)))

4

Reading a value

. input("Message") -- string

In [15]:
s1 = input("Enter your name")
print(s1)
print(type(s1))

Enter your nameAG
AG
<class 'str'>

In [17]:
n1 = int(input("Enter your number - "))
print(n1,type(n1))

Enter your number - 12334567890
12334567890 <class 'int'>

##Operators 
* Operator is a symbol used to perform a specific kind of operations
###Arithmetic Operators
- +
- /
- -
- *
- %
- **
- //

In [18]:
n1 = 1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)  # quotient in float 
print(n1%10)  # remainder
print(n1//10)  # quotient in int
print(n1**10)  # exponent

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

### Precedence of operators

- Parenthesis
- Power
- Multiplication
- Addition

##Left to right

In [19]:
x = 1 + 2 ** 3 / 4 + 5 
# 1 + 8 / 4 + 5
# 1 + 2.0 + 5
# Power, division, Addition
print(x)

8.0

In [22]:
x = 1 + 2 ** 3 / 4 * 5
# Power, division, Multiplication, Addition
print(x)

11.0

### Relational Operators
( true or false )
- ==
- != 
- Greater ( > )
- Less tha ( < )
- Less than or equal to ( <= )
- Greater than or equal to ( >= )

In [23]:
x = 10
a1 = x > 15
print(a1)

False

### Conditional Operators

Used to combine more than single condition

* and 
* or 
* not

In [24]:
i = 100
a1 = (i>15) and (i<800)
a2 = (i>15) and (i>800)
print(a1)
print(a2)

True
False

##Control flow statements

- Conditional statements 
- Looping statements 

#### if-else statement
**Syntax**

if boolean_condition: 

statements 

else :

statements

In [25]:
# To check given number is even or odd
n = int(input("Enter a number - "))
if n % 2 == 0:
    print("Even")
else :
    print("Odd")  # Indentation compulsory

Enter a number - 2
Even

In [30]:
# to check given number is a perfect multiple of 3 and 5
n = int(input("Enter a number - "))
if n%3==0 and n%5==0 :
      print("Yes")
else :
      print("No")

Enter a number - 15
Yes

In [34]:
# is given number positive, negative or zero
n = int(input("Enter a number - "))
if n==0 :
   print("Zero")
elif n>0 :  # else if 
  print("Positive number")
elif n<0 :
  print("Negative number")

Enter a number - 0
Zero